$hoverBackgrounColor: #dbf8e25e;

#card {
    &:hover {
        background-color: $hoverBackgrounColor;
        cursor: pointer;

        .card-title {
            text-decoration: underline;
        }
    }
}

#card-img {
    width: 100%;
    height: 26vh;
    object-fit: fill;
}